/* Override Bootstrap font variables */
:root {
  --bs-body-font-family: 'SVN-Zona Pro', ui-sans-serif, system-ui, Inter, sans-serif;
  --bs-font-sans-serif: 'SVN-Zona Pro', ui-sans-serif, system-ui, Inter, sans-serif;
}

@font-face {
  font-family: 'SVN-Zona Pro';
  src: url('../fonts/SVN-ZonaPro-Regular.woff2') format('woff2'),
       url('../fonts/SVN-ZonaPro-Regular.woff') format('woff'),
       url('../fonts/SVN-ZonaPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Zona Pro';
  src: url('../fonts/SVN-ZonaPro-Thin.woff2') format('woff2'),
       url('../fonts/SVN-ZonaPro-Thin.woff') format('woff'),
       url('../fonts/SVN-ZonaPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Zona Pro';
  src: url('../fonts/SVN-ZonaPro-Light.woff2') format('woff2'),
       url('../fonts/SVN-ZonaPro-Light.woff') format('woff'),
       url('../fonts/SVN-ZonaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Zona Pro';
  src: url('../fonts/SVN-ZonaPro-SemiBold.woff2') format('woff2'),
       url('../fonts/SVN-ZonaPro-SemiBold.woff') format('woff'),
       url('../fonts/SVN-ZonaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Zona Pro';
  src: url('../fonts/SVN-ZonaPro-Bold.woff2') format('woff2'),
       url('../fonts/SVN-ZonaPro-Bold.woff') format('woff'),
       url('../fonts/SVN-ZonaPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Zona Pro';
  src: url('../fonts/SVN-ZonaPro-ExtraBold.woff2') format('woff2'),
       url('../fonts/SVN-ZonaPro-ExtraBold.woff') format('woff'),
       url('../fonts/SVN-ZonaPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Rosellinda Alyamore';
  src: url('../fonts/SVN-RosellindaAlyamore.woff2') format('woff2'),
       url('../fonts/SVN-RosellindaAlyamore.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
    font-family:"NVN Motherland Signature";
    src:url("/NVN-Motherland-Signature.ttf") format("truetype");
    font-weight:400;
    font-style:normal;
    font-display:swap;
}


/* Override Bootstrap body font */
body {
  font-family: 'SVN-Zona Pro', ui-sans-serif, system-ui, Inter, sans-serif !important;
}

.font-rosellinda {
  font-family: 'SVN-Rosellinda Alyamore', serif;
}
.sub-cl {
  color: #ECBD6A;
}

.text-medium {
  font-weight: 500;
}